body{
	margin: 0;
	padding: 0;
	background-color: #212121;
	font-family: sans-serif;
}
#canvas{
	display: block;
	background-color: #cccccc;
}
img{
	display: none;
}
.btn-wrapper{
	display: flex;
	justify-content: center;
}
button{
	width: 80px;
	height: 80px;
	margin: 10px;
}
p{
	color: #cccccc;
	margin-bottom: 0;
}
#audio{
	width: 80px;
	height: 40px;
}